// Z-Index Depths
// ---------------------------

$one: (
        "z-100": -100,
        "base": 100,
        "z120": 120,
        "z140": 140,
        "z160": 160,
        "z180": 180
);
$two: (
        "z-200": -200,
        "base": 200,
        "z220": 220,
        "z240": 240,
        "z260": 260,
        "z280": 280
);
$three: (
        "z-300": -300,
        "base": 300,
        "z320": 320,
        "z340": 340,
        "z360": 360,
        "z380": 380
);
$four: (
        "z-400": -400,
        "base": 400,
        "z420": 420,
        "z440": 440,
        "z460": 460,
        "z480": 480
);
$five: (
        "z-500": -500,
        "base": 500,
        "z520": 520,
        "z540": 540,
        "z560": 560,
        "z580": 580
);
$six: (
        "z-600": -600,
        "base": 600,
        "z620": 620,
        "z640": 640,
        "z660": 660,
        "z680": 680
);
$seven: (
        "z-700": -700,
        "base": 700,
        "z720": 720,
        "z740": 740,
        "z760": 760,
        "z780": 780
);
$eight: (
        "z-800": -800,
        "base": 800,
        "z820": 820,
        "z840": 840,
        "z860": 860,
        "z880": 880
);
$nine: (
        "z-900": -900,
        "base": 900,
        "z920": 920,
        "z940": 940,
        "z960": 960,
        "z980": 980
);

$zis: (
        "z1": $one,
        "z2": $two,
        "z3": $three,
        "z4": $four,
        "z5": $five,
        "z6": $six,
        "z7": $seven,
        "z8": $eight,
        "z9": $nine
);

// zis Classes
@each $zis_name, $zi in $zis {
  //@warn "(1) =>>> `#{$zis_name}` = $zis_name."; // z1
  @each $zis_type, $zis_value in $zi {
    //@warn "(2) =>>> `#{$zis_type}` = $zis_type."; // z120
    //@warn "(3) =>>> `#{$zis_value}` = $zis_value."; // 120
    @if $zis_type == "base" {
      .#{$zis_name} {
        z-index: $zis_value !important;
      }
    } @else {
      .#{$zis_name}.#{$zis_type} {
        z-index: $zis_value !important;
      }
    }
  }

}
