// Modal with fixed action footer
.modal.modal-fixed-footer {

  .modal-content {
    height: calc(100% - 56px) !important;
    max-height: 100%;
    width: 100%;
    padding-bottom: 80px;
  }

  .modal-footer {
    border-top: 1px solid rgba(0, 0, 0, .1);
    position: absolute;
    z-index: 9000;
    bottom: 0;
  }
}

.modal,
.modal-fixed-footer {
  max-height: 550px !important; // Permissions hotfix
  @extend .z-depth-4;
  display: none;
  position: absolute;
  z-index: 101;
  background-color: #fafafa;
  overflow-y: hidden;
  overflow-x: hidden;
  border-radius: 2px;
  will-change: top, opacity;
  border: #e0e0e0 solid 2px;

  @media #{$medium-and-down} {
    width: 80%;
  }

  h1, h2, h3, h4 {
    margin-top: 0;
  }

  .modal-header {
    background: #5C3E8F url(/app/dist/img/rsi-diamond-4v-small1.png) no-repeat 98% 10px;
    background-size: 11%;
  }

  .modal-content {
    width: 100%;

  }
  .modal-close {
    cursor: pointer;
  }

  .modal-footer {
    border-radius: 0 0 2px 2px;
    background-color: #fafafa;
    padding: 4px 6px;
    height: 65px;
    width: 100%;

    .btn, .btn-flat {
      float: right;
      margin: 6px 0;
    }

  }

  .tabs {
    margin: 0 auto 17px auto;
  }

  fieldset {
    border: 1px solid #c0c0c0;
    padding: 20px 10px;
    margin: 10px 0 0 0;
    border-top: none;
    border-left: 0;
    border-right: none;

    legend {
      border: 0;
      padding: 0;
      color: #5c3e8f;
      font-size: 16px;
      padding-top: 7px;
    }
  }
}

.lean-overlay {
  position: fixed;
  z-index: 999;
  top: -100px;
  left: 0;
  bottom: 0;
  right: 0;
  height: 125%;
  width: 100%;
  background: #000;
  display: none;

  will-change: opacity;
}

.ui-widget-overlay {
  //background: url(/dist/img/rsi-diamond-four.png) repeat rgba(255, 255, 255, 0.7) !important;
  //background: rgba(255, 255, 255, 0.7) !important;
  //box-shadow: 0px 0px 300px 99px rgba(255, 255, 255, 0.8) inset;
  //position: fixed;
  //z-index:999;
  //top: -100px;
  //left: 0;
  //bottom: 0;
  //right: 0;
  //height: 125%;
  //width: 100%;
  //background: #000;
  //will-change: opacity;

}

// Modal Bottom Sheet Style
.modal.bottom-sheet {
  top: auto;
  bottom: -100%;
  margin: 0;
  width: 100%;
  max-height: 45%;
  border-radius: 0;
  will-change: bottom, opacity;
}

// RSI Dialog Modifications

nav.dialog {
  position: fixed;
  z-index: 9999;
  top: 11%;
  width: 54.9% !important;
}

.secondary-dialog {
  min-height: 200px;
  padding: 20px 40px
}

.ui-autocomplete {
  z-index: 9999;
}

// RSI Dialog Modifications
.modal {

  .dialog-login-header {
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100px;
  }

  [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    -webkit-user-select: none;
    /* webkit (safari, chrome) browsers */
    -moz-user-select: none;
    /* mozilla browsers */
    -khtml-user-select: none;
    /* webkit (konqueror) browsers */
    -ms-user-select: none;
    /* IE10+ */
  }

  [type="checkbox"]:not(:checked) + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    -webkit-user-select: none;
    /* webkit (safari, chrome) browsers */
    -moz-user-select: none;
    /* mozilla browsers */
    -khtml-user-select: none;
    /* webkit (konqueror) browsers */
    -ms-user-select: none;
    background-color: none;
    /* IE10+ */
  }

  [type="checkbox"][readonly]:checked + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    -webkit-user-select: none;
    /* webkit (safari, chrome) browsers */
    -moz-user-select: none;
    /* mozilla browsers */
    -khtml-user-select: none;
    /* webkit (konqueror) browsers */
    -ms-user-select: none;
    /* IE10+ */
  }

  [type="checkbox"][readonly]::not(checked) + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    -webkit-user-select: none;
    /* webkit (safari, chrome) browsers */
    -moz-user-select: none;
    /* mozilla browsers */
    -khtml-user-select: none;
    /* webkit (konqueror) browsers */
    -ms-user-select: none;
    /* IE10+ */
  }

  //[type="checkbox"]:not(:checked) + label:before {
  //  border:grey dashed 1px !important;
  //}

  // Read Only inputs
  input[readonly="readonly"] + label:before {
    margin-top: 10px;
    cursor: not-allowed;
    border: solid 2px #ccc;

  }
  input[readonly="readonly"] ~ span.label {
    color: #999;
    cursor: not-allowed;
    font-weight: 100 !important;
    font-size: 15px;

  }
  input[readonly="readonly"][placeholder="Activated"] + label:before {
    border-top: none;
    border-left: none;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
  }

  // styling to pad table content w/in modal
  table.rsi-form,
  fieldset {
    border-left: #fafafa solid 30px;
    border-right: #fafafa solid 30px;
  }

  td {

    position: relative;
    padding: 2px 8px;

    img,
    div[state="invalid"] {
      position: absolute;
      left: 98%;
      top: 27%;
      width: 20px;
    }

    input {
      padding: 0;
      margin: 0;

    }

    .btn span {

      //background: $rsi-violet; TODO(mb): Fix 'add' button
      //
      //&.ui-button-text {
      //  // bug in styling specific to modals
      //  color: #fff;
      //}
    }
  }

}

// jQuery Ui dialog css
// -- needed for the multiple lightbox feature
// ---------------------

/* Overlays */
.ui-widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
}

/* Overlays */
.ui-widget-overlay {
  //background: #22192b /* url("@{base}/images/ui-bg_inset-soft_15_2b2922_1x100.png") */ 50% bottom repeat-x;
  background: rgba(255, 255, 255, 0.7) !important;
  box-shadow: 0px 0px 300px 99px rgba(255, 255, 255, 0.8) inset;
  opacity: .9;
  filter: alpha(opacity=90);
}

/* BUG HOTFIXES */
.ui-dialog-content {
  overflow-y: auto !important;
  overflow-x: hidden;
  width: 100% !important;
  max-height: 500px !important;
}

